
tbody {
    display:block;
    height:500px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead{
    margin-top: 30px;
}
.header{
    background-color:#afdd92;
    padding-left:30px;
}

/*reference: https://www.codeply.com/go/OAEz9LcQ0T*/